In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('weatherAUS.csv')

### Data Cleaning

In [3]:
df.shape

(145460, 23)

In [4]:
df.head(100)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2009-03-06,Albury,7.6,24.0,0.0,NaN,NaN,WSW,30.0,NaN,...,52.0,23.0,1014.5,1012.0,NaN,NaN,12.6,22.0,No,No
96,2009-03-07,Albury,8.3,27.9,0.0,NaN,NaN,W,37.0,S,...,58.0,22.0,1015.2,1012.4,NaN,NaN,13.3,27.0,No,No
97,2009-03-08,Albury,11.0,30.2,0.0,NaN,NaN,SSE,24.0,E,...,54.0,20.0,1017.0,1014.7,NaN,NaN,17.6,28.8,No,No
98,2009-03-09,Albury,13.8,31.8,0.0,NaN,NaN,NNE,24.0,SSE,...,49.0,28.0,1019.7,1015.9,NaN,NaN,18.6,30.5,No,No
99,2009-03-10,Albury,15.5,32.0,0.0,NaN,NaN,NE,50.0,ESE,...,51.0,25.0,1019.5,1016.2,NaN,NaN,20.1,30.8,No,Yes

In [5]:
df.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

#### Handling Missing Values

In [7]:
df.drop(['Date'],axis = 1,inplace = True)

In [8]:
df.dropna(subset = ['RainToday','RainTomorrow'],inplace = True)

In [9]:
df['WindGustDir'].value_counts()

W      9696
SE     9241
E      8985
N      8941
SSE    8905
S      8859
WSW    8802
SW     8702
SSW    8541
WNW    7960
NW     7939
ENE    7924
ESE    7244
NE     7002
NNW    6511
NNE    6372
Name: WindGustDir, dtype: int64

In [10]:
df['MinTemp'].fillna(df['MinTemp'].mean(),inplace = True)
df['MaxTemp'].fillna(df['MaxTemp'].mean(),inplace = True)
df['Rainfall'].fillna(df['Rainfall'].mean(),inplace = True)

df['Evaporation'].fillna(df['Evaporation'].mean(),inplace = True)
df['Sunshine'].fillna(df['Sunshine'].mean(),inplace = True)

df['WindGustSpeed'].fillna(df['WindGustSpeed'].mean(),inplace = True)
df['WindSpeed9am'].fillna(df['WindSpeed9am'].mean(),inplace = True)
df['WindSpeed3pm'].fillna(df['WindSpeed3pm'].mean(),inplace = True)
df['Humidity9am'].fillna(df['Humidity9am'].mean(),inplace = True)
df['Humidity3pm'].fillna(df['Humidity3pm'].mean(),inplace = True)
df['Pressure9am'].fillna(df['Pressure9am'].mean(),inplace = True)
df['Pressure3pm'].fillna(df['Pressure3pm'].mean(),inplace = True)

df.drop(['Cloud9am','Cloud3pm'],axis = 1,inplace = True)

df['Temp9am'].fillna(df['Temp9am'].mean(),inplace = True)
df['Temp3pm'].fillna(df['Temp3pm'].mean(),inplace = True)

In [11]:
df.dropna(subset = ['WindGustDir','WindDir9am','WindDir3pm'],inplace = True)

In [12]:
df.isnull().sum()

Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

### Label Encoding

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le = LabelEncoder()

In [15]:
df[df.select_dtypes(include = ['object']).columns] = df[df.select_dtypes(include = ['object']).columns].apply(le.fit_transform)

In [16]:
df.isnull().sum()

Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

### Sampling

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
df_train,df_test = train_test_split(df,test_size = 0.25)

In [19]:
train_x = df_train.iloc[:,:-1]
train_y = df_train.iloc[:,-1]

In [20]:
test_x = df_test.iloc[:,:-1]
test_y = df_test.iloc[:,-1]

### Model Building

In [21]:
from sklearn.linear_model import LogisticRegression

In [47]:
model = LogisticRegression(max_iter = 150)

In [48]:
model.fit(train_x,train_y)

C:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=150)

In [49]:
pred = model.predict(test_x)
pred

array([0, 0, 0, ..., 1, 1, 1])

In [50]:
from sklearn.metrics import accuracy_score

In [52]:
accuracy_score(test_y,pred) * 100

84.61911536471806

### Accuracy = 84.61 %